.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 900px;
    height: 600px;
    border-radius: 3px;
    cursor: pointer;
    margin: 30px 0px;
    filter: grayscale();
    transition-duration: 800ms ease;
}

.image:hover {
    filter: none;
    transition-duration: 800ms ease;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 800ms ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 800ms;
    transform: scale(1.08);
  }

  @media only screen and (max-width: 375px) {
    .image {
        display: none;
    }
  }